@import "bootstrap/scss/bootstrap-grid";
/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

@font-face {
  font-family: "AmericanaStd";
  src: url("../font/AmericanaStd.woff2") format("woff2"),
    url("../font/AmericanaStd.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "AmericanaStd-bold";
  src: url("../font/AmericanaStd-Bold.woff2") format("woff2"),
    url("../font/AmericanaStd-Bold.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "AcuminPro";
  src: url("../font/AcuminPro-Regular.woff2") format("woff2"),
    url("../font/AcuminPro-Regular.woff") format("woff");
  font-display: fallback;
}

main {
  margin-top: 16px;
}

footer {
  margin-top: 16px;
}

// .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }

// h1 {
//   text-align: center;
//   margin-top: 40px;
//   margin-bottom: 20px;
// }

header {
  background-color: #829e8a;
  padding-top: 36px;
  padding-bottom: 36px;
}

.parent1 {
  position: relative;
  padding: none;
}

.child1 {
  position: absolute;
  z-index: 1;
  bottom: 12px;
  left: 15px;
}

h1 {
  font-family: "AmericanaStd-bold";
  color: white;
  font-size: 48px;
  line-height: 48px;
  z-index: 1;
}

header img {
  width: 100%;
}

.header-img {
  padding: 0;
  padding-right: 15px;
}

@media (min-width: 992px) {
  header {
    padding-top: 66px;
    padding-bottom: 66px;
  }

  h1 {
    font-size: 130px;
  }

  header img {
    padding-right: 47px;
  }

  .child1 {
    bottom: 26px;
    left: 47px;
  }
}

.about-us-title {
  font-family: "AmericanaStd-bold";
  font-size: 30px;
  line-height: 30px;
  color: #829e8a;
  border-bottom: solid 1px #829e8a;
  padding-bottom: 16px;
  padding-top: 60px;
}

.about-us-img {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #829e8a;
}

.about-us-description {
  font-family: "AcuminPro";
  color: #829e8a;
  font-size: 16px;
  line-height: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #829e8a;
}

@media (min-width: 992px) {
  .about-us-title {
    font-size: 66px;
    line-height: 66px;
    padding-top: 122px;
    padding-bottom: 32px;
  }

  .about-us-img {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .about-us-description {
    font-size: 20px;
    line-height: 30px;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
