@import "bootstrap/scss/bootstrap-grid";
/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

// .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }

// h1 {
//   text-align: center;
//   margin-top: 40px;
//   margin-bottom: 20px;
// }

@font-face {
  font-family: "AmericanaStd";
  src: url("../font/AmericanaStd.woff2") format("woff2"),
    url("../font/AmericanaStd.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "AmericanaStd-bold";
  src: url("../font/AmericanaStd-Bold.woff2") format("woff2"),
    url("../font/AmericanaStd-Bold.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "AcuminPro";
  src: url("../font/AcuminPro-Regular.woff2") format("woff2"),
    url("../font/AcuminPro-Regular.woff") format("woff");
  font-display: fallback;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

main {
  margin-top: 16px;
  color: #829e8a;
}

footer {
  margin-top: 16px;
}

header {
  background-color: #829e8a;
  background-image: url(../img/header-img.webp);
  height: 60vh;
  background-size: cover;
  background-position: center;
  border: solid #829e8a;
  border-width: 36px 26px 36px 0;
  position: relative;
  z-index: 3;
}

h1 {
  font-family: "AmericanaStd-bold";
  color: white;
  font-size: 48px;
  line-height: 48px;
  z-index: 1;
  padding-top: 420px;
}

header img {
  width: 100%;
}

.header-img {
  padding: 0;
  padding-right: 15px;
}

@media (min-width: 992px) {
  header {
    padding-top: 66px;
    padding-bottom: 66px;
    height: 80vh;
    border-width: 68px 48px 68px 0;
  }

  h1 {
    font-size: 130px;
    line-height: 130px;
    padding-top: 400px;
  }

  header img {
    padding-right: 47px;
  }
}

.about-us {
  border-bottom: solid 1px #829e8a;
}

.main-title {
  font-family: "AmericanaStd-bold";
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 16px;
  padding-top: 60px;
}

.about-us-img {
  padding-top: 10px;
  padding-bottom: 10px;
}

.information {
  border-bottom: solid 1px #829e8a;
}

.about-us-description {
  font-family: "AcuminPro";
  font-size: 16px;
  line-height: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 992px) {
  .main-title {
    font-size: 66px;
    line-height: 66px;
    padding-top: 122px;
    padding-bottom: 32px;
  }

  .about-us-img {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .about-us-description {
    font-size: 20px;
    line-height: 30px;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.daily-menu {
  border-bottom: solid 1px #829e8a;
}

.daily-menu-img {
  padding-top: 10px;
  padding-bottom: 10px;
}

.daily-menu-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  height: 100%;
  justify-content: center;
}

.menu {
  border-bottom: solid 1px #829e8a;
}

h3 {
  font-family: "AmericanaStd-bold";
  font-size: 22px;
  line-height: 22px;
  padding-top: 10px;
  padding-bottom: 4px;
}

.daily-menu-card p {
  font-family: "AcuminPro";
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 20px;
}

.button-menu {
  padding-bottom: 20px;
}

a {
  border: 1px solid #829e8a;
  border-radius: 50px;
  padding: 6px 37px 3px;
  text-decoration: none;
  font-family: "AmericanaStd-bold";
  font-size: 16px;
  line-height: 16px;
}

@media (min-width: 992px) {
  .daily-menu-card {
    flex-direction: column;
  }

  h3 {
    font-family: "AmericanaStd-bold";
    font-size: 44px;
    line-height: 44px;
    padding: none;
    padding-top: 20px;
  }

  .daily-menu-img {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .daily-menu-card p {
    font-family: "AcuminPro";
    font-size: 20px;
    line-height: 30px;
    padding: none;
  }

  .daily-menu-drinks {
    padding-bottom: 20px;
  }
}

.opening-hours {
  border-bottom: solid 1px #829e8a;
}

h4 {
  font-family: "AmericanaStd-bold";
  line-height: 22px;
  font-size: 22px;
  text-align: center;
  padding-bottom: 4px;
}

.hours {
  font-family: "AcuminPro";
  line-height: 26px;
  font-size: 16px;
  text-align: center;
  padding-bottom: 20px;
}

.first-hour-title {
  padding-top: 10px;
}

.last-hour {
  padding-bottom: 4px;
}

.restaurant-img {
  border-bottom: solid 1px #829e8a;
  border-top: solid 1px #829e8a;
}

.restaurant-img img {
  padding-top: 10px;
  padding-bottom: 10px;
}

.hidden-image {
  display: none;
}

@media (min-width: 992px) {
  .restaurant-img img {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  h4 {
    font-size: 44px;
    line-height: 44px;
    padding-bottom: 10px;
  }

  .hours {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 40px;
  }

  .first-hour-title {
    padding-top: 20px;
  }

  .last-hour {
    padding-bottom: 20px;
  }

  .hidden-image {
    display: block;
  }
}

.contact {
  background-color: #829e8a;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.adress-text {
  text-align: justify;
}

.adress {
  padding-top: 25px;
}

.rectangle {
  padding-top: 26px;
  background-color: #829e8a;
}

.contact-us {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 20px 0 0 0;
}

.contact-title {
  color: #829e8a;
}

footer p {
  color: #ffffff;
  font-family: "AcuminPro";
  font-size: 16px;
  line-height: 26px;
}

.contact-button a {
  border: 1px solid #ffffff;
  color: #ffffff;
  display: block;
  width: 100%;
}

.button-footer {
  margin-bottom: 20px;
}

.last-button {
  margin-bottom: 4;
}

@media (min-width: 992px) {
  .contact {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .contact-us {
    flex-direction: column;
    text-align: center;
    padding-top: 0;
    justify-content: center;
  }

  .rectangle {
    padding-top: 36px;
  }

  footer p {
    color: #ffffff;
    font-family: "AcuminPro";
    font-size: 20px;
    line-height: 30px;
  }

  .first-button {
    padding-top: 60px;
  }

  .last-button {
    margin-bottom: 4;
  }

  .adress {
    padding-top: 0;
  }
}

.navbar {
  background-color: #829e8a;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
}

.logo {
  font-family: "AmericanaStd-bold";
  font-size: 30px;
  line-height: 30px;
}

.navigation {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-top: 10px;
}

.navigation div a {
  font-size: 16px;
  line-height: 16px;
  border: none;
  padding: 0;
}

@media (min-width: 992px) {
  .logo {
    font-family: "AmericanaStd-bold";
    font-size: 36px;
    line-height: 36px;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-top: 20px;
  }

  .navigation div a {
    border: none;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
  }
}
