@import "bootstrap/scss/bootstrap-grid";
/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

@font-face {
  font-family: "AmericanaStd";
  src: url("../font/AmericanaStd.woff2") format("woff2"),
    url("../font/AmericanaStd.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "AmericanaStd-bold";
  src: url("../font/AmericanaStd-Bold.woff2") format("woff2"),
    url("../font/AmericanaStd-Bold.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "AcuminPro";
  src: url("../font/AcuminPro-Regular.woff2") format("woff2"),
    url("../font/AcuminPro-Regular.woff") format("woff");
  font-display: fallback;
}

main {
  margin-top: 16px;
  color: #829e8a;
}

footer {
  margin-top: 16px;
}

// .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }

// h1 {
//   text-align: center;
//   margin-top: 40px;
//   margin-bottom: 20px;
// }

header {
  background-color: #829e8a;
  background-image: url(../img/header-img.webp);
  height: 60vh;
  background-size: cover;
  background-position: center;
  border: solid #829e8a;
  border-width: 36px 26px 36px 0;
}

// .parent1 {
//   position: relative;
//   padding: none;
// }

// .child1 {
//   position: absolute;
//   z-index: 1;
//   bottom: 12px;
//   left: 15px;
// }

h1 {
  font-family: "AmericanaStd-bold";
  color: white;
  font-size: 68px;
  line-height: 68px;
  z-index: 1;
  padding-top: 400px;
  // padding-top: 160px;
}

header img {
  width: 100%;
}

.header-img {
  padding: 0;
  padding-right: 15px;
}

@media (min-width: 992px) {
  header {
    padding-top: 66px;
    padding-bottom: 66px;
  }

  header {
    height: 80vh;
    border-width: 68px 48px 68px 0;
  }

  h1 {
    font-size: 130px;
    line-height: 130px;
    padding-top: 400px;
  }

  header img {
    padding-right: 47px;
  }

  // .child1 {
  //   bottom: 26px;
  //   left: 47px;
  // }
}

.about-us {
  border-bottom: solid 1px #829e8a;
}

.main-title {
  font-family: "AmericanaStd-bold";
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 16px;
  padding-top: 60px;
}

.about-us-img {
  padding-top: 10px;
  padding-bottom: 10px;
}

.information {
  border-bottom: solid 1px #829e8a;
}

.about-us-description {
  font-family: "AcuminPro";
  font-size: 16px;
  line-height: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 992px) {
  .main-title {
    font-size: 66px;
    line-height: 66px;
    padding-top: 122px;
    padding-bottom: 32px;
  }

  .about-us-img {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .about-us-description {
    font-size: 20px;
    line-height: 30px;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.daily-menu {
  border-bottom: solid 1px #829e8a;
}

.daily-menu-img {
  padding-top: 10px;
  padding-bottom: 10px;
}

.daily-menu-card {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
}

.menu {
  border-bottom: solid 1px #829e8a;
}

h3 {
  font-family: "AmericanaStd-bold";
  font-size: 22px;
  line-height: 22px;
  padding-top: 10px;
  padding-bottom: 4px;
}

.daily-menu-card p {
  font-family: "AcuminPro";
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 20px;
}

.button-menu {
  padding-bottom: 20px;
}

a {
  border: 1px solid #829e8a;
  border-radius: 50px;
  padding: 6px 37px 3px;
  text-decoration: none;
  font-family: "AmericanaStd-bold";
  font-size: 16px;
  line-height: 16px;
}

@media (min-width: 992px) {
  .daily-menu-card {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  h3 {
    font-family: "AmericanaStd-bold";
    font-size: 44px;
    line-height: 44px;
    padding: none;
    padding-top: 20px;
  }

  .daily-menu-img {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .daily-menu-card p {
    font-family: "AcuminPro";
    font-size: 20px;
    line-height: 30px;
    padding: none;
  }
}

.opening-hours {
  border-bottom: solid 1px #829e8a;
}

h4 {
  font-family: "AmericanaStd-bold";
  line-height: 22px;
  font-size: 22px;
  text-align: center;
  padding-bottom: 10px;
}

.hours {
  font-family: "AcuminPro";
  line-height: 26px;
  font-size: 16px;
  text-align: center;
  padding-bottom: 30px;
}

.first-hour-title {
  padding-top: 10px;
}

.last-hour {
  padding-bottom: 10px;
}

.restaurant-img {
  border-bottom: solid 1px #829e8a;
  border-top: solid 1px #829e8a;
}

.restaurant-img img {
  padding-top: 10px;
  padding-bottom: 10px;
}

.hidden-image {
  display: none;
}

@media (min-width: 992px) {
  .restaurant-img img {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  h4 {
    font-size: 44px;
    line-height: 44px;
    padding-bottom: 32px;
  }

  .first-hour-title {
    padding-top: 20px;
  }

  .last-hour {
    padding-bottom: 20px;
  }

  .hours {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 20px;
  }

  .hidden-image {
    display: block;
  }
}

.contact,
.contact-information {
  background-color: #829e8a;
}

.contact-title {
  color: #829e8a;
}

.contact {
  padding-top: 36px;
  padding-bottom: 36px;
}

.contact-information {
  border-bottom: solid 1px #ffffff;
  border-top: solid 1px #ffffff;
}

.green-rectangle {
  padding-top: 36px;
  background-color: #829e8a;
}

footer p {
  color: #ffffff;
  font-family: "AcuminPro";
  font-size: 16px;
  line-height: 26px;
}

.navbar {
  background-color: #829e8a;
  color: #ffffff;
  padding: 16px 0;
  font-family: "AmericanaStd-bold";
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
}

// background img header

// /* Sidenav menu */
// .sidenav {
//   height: 218%;
//   width: 100%;
//   position: fixed;
//   z-index: 1;
//   top: 0;
//   left: -250px;
//   background-color: lightgrey;
//   padding-top: 60px;
//   transition: left 0.5s ease;
// }

// /* Sidenav menu links */
// .sidenav a {
//   padding: 6px 42px;
//   text-decoration: none;
//   font-size: 16px;
//   line-height: 16px;
//   color: #ffffff;
//   display: block;
//   transition: 0.3s;
// }

// // .sidenav a:hover {
// //   color: #111;
// // }

// .sidenav ul {
//   list-style-type: none;
//   padding: 0;
//   margin: 0;
// }

// /* Active class */
// .sidenav.active {
//   left: 0;
// }

// /* Close btn */
// .sidenav .close {
//   position: absolute;
//   top: 0;
//   right: 25px;
//   font-size: 36px;
// }

// /* Icône burger */
// .burger-icon span {
//   display: block;
//   width: 35px;
//   height: 5px;
//   background-color: #ffffff;
//   margin: 6px 0;
// }
